<div class="all">
  <div class="rowfixed"></div>
  <div class="left_row">
    <div class="left_row_profile">
      <img id="portada" src="../../assets/images/portada.jpg" />
      <div class="left_row_profile">
        <img id="profile_pic" src="{{!profilePic ?  'https://th.bing.com/th/id/OIP._tSfQ4W6y7yLOqxMejgq2wHaHg?rs=1&pid=ImgDetMain' :  profilePic }} "/>
        <span
          >{{profileName}}<br />
          <p>{{followers}} followers / {{followings}} followings</p></span
        >
      </div>
    </div>
    <div class="rowmenu">
      <ul>
        <li>
          <a routerLink="/newsfeed"><i class="fa fa-globe"></i>Newsfeed</a>
        </li>
        <li>
          <a routerLink="/profile" id="rowmenu-selected"
            ><i class="fa fa-user"></i>Profile</a
          >
        </li>
        <li>
          <a routerLink="/friends"><i class="fa fa-users"></i>Friends</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right_row" style="width: 80%">
    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <span
            ><a routerLink="/profile"><b>Profile</b></a> |
            <a routerLink="/about" id="select_profile_menu"><b>About</b></a> |

            <a routerLink="/followers"><b>followers</b> </a> |
            <a routerLink="/followings"><b>followings</b> </a>
          </span>
        </div>
      </div>
    </div>

    <div class="row border-radius">
      <div class="settings shadow">
        <div class="settings_title">
          <h3>Personal Info</h3>
          <button
            (click)="toggleModal()"
            class="add-friend"
            style="border-radius: 5px; padding: 5px"
          >
            Edit Profile
          </button>
        </div>
        <div class="settings_content">
          <style type="text/css">
            .settings_content ul li p {
              padding: 5px;
              padding-left: 20px;
            }
          </style>
          <ul>
            <li
              *ngIf="profilePresent"
              style="
                display: flex;
                justify-content: center;
                align-content: center;
              "
            >
              <img
                style="max-width: 100%; height: 38vh; border-radius: 50%"
                alt="Profile Image"
                src="{{ this.profileImage }}"
              />
            </li>
            <li *ngIf="!profilePresent">
              <p>
                <b
                  >No Profile image available!!! click Edit Profile to add a
                  picture</b
                >
              </p>
            </li>
            <li>
              <p>
                <b>Email:</b>
                <br />
                {{ userEmail }}
              </p>
            </li>
            <li>
              <p data-cy="userName">
                <b>UserName:</b>
                <br />
                {{ userName }}
              </p>
            </li>
            <li>
              <p data-cy="fullName">
                <b>Full name:</b>
                <br />
                {{ fullName }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="modal" (click)="toggleModal()">
  <div class="modal-content" (click)="stopPropagation($event)">
    <form
      class="profile-form"
      [formGroup]="modalForm"
      (ngSubmit)="updateProfile()"
    >
      <span class="login100-form-title"> Update your Profile </span>
      <div>
        <ngx-dropzone (change)="onSelectPostImage($event)">
          <ngx-dropzone-label>Drop Profile Image</ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngFor="let f of postFiles"
            [removable]="true"
            (removed)="onRemovePostImage(f)"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>

      <div
        class="wrap-input100 validate-input"
        data-validate="Valid user is required"
      >
        <input
          class="input100"
          type="text"
          name="user"
          formControlName="user_name"
          placeholder="Username"
        />
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
      </div>

      <div
        class="wrap-input100 validate-input"
        data-validate="Valid email is required: ex@abc.xyz"
      >
        <input
          class="input100"
          type="Full Name"
          formControlName="fullName"
          name="fullName"
          placeholder="FullName"
        />
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
      </div>

      <div class="container-login100-form-btn text-center p-t-136">
        <button
          type="submit"
          class="login100-form-btn txt2 add-friend"
          style="border-radius: 5px; padding: 5px; border: none; outline: none"
        >
          Update profile
        </button>
      </div>
    </form>
  </div>
</div>
