<div class="all">

        <div class="rowfixed"></div>
        <div class="left_row">
            <div class="left_row_profile">
                <img id="portada" src="../../../assets/images/portada.jpg" />
                <div class="left_row_profile">
                    <img id="profile_pic" src="../../../assets/images/user.jpg" />
                    <span>Jonh Hamstrong<br><p>150k followers / 50 follow</p></span>
                </div>
            </div>
            <div class="rowmenu">
                <ul>
                    <li><a routerLink="/newsfeed"><i class="fa fa-globe"></i>Newsfeed</a></li>
                    <li><a routerLink="/profile"><i class="fa fa-user"></i>Profile</a></li>
                    <li><a routerlink="/friends"><i class="fa fa-users"></i>Friends</a></li>
                    
                </ul>
            </div>
        </div>



        

        <div class="right_row" style="width: 80%;">

           
            <app-change-password></app-change-password>
        </div>

        
    </div>
